.principal {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 5rem;
    gap: 8rem;
    background-color: #FCFCFC;
}

.principal__perfil {
    display: flex;
    width: 55%;
    gap: 8rem;
    padding-top: 6rem;
    margin: auto;
    justify-content: space-around;

}

.principal__perfil div {
    text-align: center;

}

.principal__perfil div h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--verde-claro);

}

.principal__perfil div h3 {
    color: #737B7D;
}

.principal__perfil div p {
    line-height: 20px;
    min-width: 300px;
    text-align: justify;
    font-size: 1.01rem;
}


.principal__perfil img {
    max-width: 320px;

}

.principal__informacoes div {
    text-align: center;
}

.principal__informacoes {

    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    line-height: 22px;
}

.principal__informacoes div h4 {
    color: var(--verde-escuro);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

}


.principal__container-card {
    display: flex;
    width: 100%;

}
.principal__container-card .principal__content-card{
    display: flex;
    margin: auto;
    gap: 1.5rem;

}

.principal__card {
    border: 2px solid var(--verde-claro);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    width: 210px;
    margin: auto;
    height: 300px;
    transition: .5s ease all;
}

.principal__card:hover {
    transform: scale(1.06);
    box-shadow: 5px 5px 10px rgba(61, 61, 51, 0.12);
}

.principal__card img {
    max-width: 280px;
}

.principal__card div p {
    text-align: center;
    font-size: 14px;
}

.principal__card div h3 {
    color: var(--verde-escuro);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media (max-width:870px) {

    .principal {
        margin-top: .7rem;
        gap: 6rem;
    }

    .principal__perfil {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .principal__card:hover {
        transform: none;
        box-shadow: none;
    }
    
}

@media (max-width:900px) {

    .principal {
        margin-top: 1rem;
    }

    .principal__perfil {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .principal__container-card {
        width: 90vw;
        overflow: hidden;
        gap: 3.5rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .principal__card {
        scroll-snap-align: center;
    }

    .principal__informacoes div h4 {
        color: var(--verde-escuro);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
        margin: auto;
        margin-bottom: 1.5rem;

    }

    .principal__informacoes div {
        margin: auto;
    }

}